@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.container-fluid {
    background-color: #e0f2fe;
    font-family: "Poppins", sans-serif;
    color: #0f172a;
}

.header-logo {
    width: 6rem; 
    height: auto;
    opacity: 0.8;
}

.header-index {
    padding: 1.2rem 4rem !important;
    h1 {
        font-size: 2.7rem;
    }
}

.main-section {
    padding: 2rem 8rem;
    background-color: #bae6fd;
}

.gradient-text {
    background-image: linear-gradient(to right, #0ea5e9, #475569);
    -webkit-background-clip: text; /* For WebKit browsers */
    background-clip: text; /* For other browsers */
    color: transparent; /* Text color should be transparent */
}

.rounded-t-5 {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }

  @media (min-width: 992px) {
    .rounded-tr-lg-0 {
      border-top-right-radius: 0;
    }

    .rounded-bl-lg-5 {
      border-bottom-left-radius: 0.5rem;
    }
  }

.btn-outline-primary {
    color: #0ea5e9;
}

.btn-outline-primary:hover {
    color: #0f172a;
    background-color: #06b6d4;
}

.btn-secondary {
    background-color: #1e293b;
}

.btn-secondary:hover {
    background-color: #334155;
    color: #e2e8f0;
}

.modal-header {
    display: flex;
    justify-content: center;
    .modal-title {
        font-weight: 700;
        letter-spacing: 0.1rem;
    }
}

.btn-full {
    width: 100%;
    padding: 0.8rem 1rem;
}


input[type="text"],
input[type="password"] {   
    border-radius: 0.5rem;       
    padding: 0.5rem;
}


input[type="text"]:focus,
input[type="password"]:focus {
    outline: none; 
}

input::placeholder {
    color: #6b7280 !important;
}

.btn-close {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 1.25rem;
    background-color: #cbd5e1;
    border-radius: 100%;
}

.btn-close:hover {
    color: #1e293b;
}

.password-container {
    position: relative;
    display: flex;
    align-items: center;
}

.password-container input {
    padding-right: 2.5rem; /* Space for the eye icon */
}

.password-container .eye-icon {
    position: absolute;
    right: 0.5rem;
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 0.6rem; 
}

::-webkit-scrollbar-track {
    background: #0f172a; 
}

::-webkit-scrollbar-thumb {
    background-color: #0ea5e9; 
    border-radius: 0.4rem;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #0ea5e9; 
}






